html {
  font-size: 0.625rem; }

body {
  font-family: "Roboto", sans-serif;
  padding: 3rem; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-text-align-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 10rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-5px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-10px); }

.btn-white {
  background-color: #fff; }
  .btn-white::after {
    background-color: #fff; }

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBtn 1.3s ease-in 0.7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.2s;
  text-decoration: none;
  color: #42a5f5; }

.btn-text:hover {
  background-color: black;
  transform: translateY(-5px); }

.btn-text:active {
  color: white;
  transform: translateY(3px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    position: absolute;
    z-index: 5;
    transition: all 0.2s; }
    .composition__photo--p1 {
      top: 4rem;
      left: 0; }
    .composition__photo--p2 {
      top: 0;
      right: 10rem; }
    .composition__photo--p3 {
      top: 25rem;
      left: 8rem; }
    .composition__photo:hover {
      z-index: 7;
      outline: 2rem solid #606873;
      outline-offset: 1rem;
      transform: scale(1.05); }

.section-features .feature-box {
  background-color: rgba(238, 238, 238, 0.8);
  text-align: center;
  padding: 4rem 2rem;
  transition: all 0.2s;
  border-radius: 2rem; }
  .section-features .feature-box__icon {
    font-size: 5rem;
    background: linear-gradient(to right, #eee, #606873);
    -webkit-background-clip: text;
    color: transparent; }
  .section-features .feature-box:hover {
    transform: scale(1.2); }
  .section-features .feature-box__text {
    font-size: 1rem; }
  .section-features .feature-box .heading-thertiary {
    font-size: 2.5rem;
    overflow: hidden; }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card .card__side {
    height: 52rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease; }
    .card .card__side--front {
      background-color: rgba(49, 44, 44, 0.15); }
    .card .card__side--back {
      transform: rotateY(180deg); }
      .card .card__side--back-1 {
        background-color: rgba(66, 165, 245, 0.15); }
      .card .card__side--back-2 {
        background-color: rgba(66, 165, 245, 0.15); }
      .card .card__side--back-3 {
        background-color: rgba(66, 165, 245, 0.15); }
    .card .card__side .card__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card .card__side .card__picture-1 {
        background-image: url("https://images.unsplash.com/photo-1658507165834-a19bc7576cf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"); }
      .card .card__side .card__picture-2 {
        background-image: url("https://images.unsplash.com/photo-1658507165834-a19bc7576cf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"); }
      .card .card__side .card__picture-3 {
        background-image: url("https://images.unsplash.com/photo-1658507165834-a19bc7576cf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"); }
    .card .card__side .card__details {
      font-size: 2.4rem; }
      .card .card__side .card__details ul {
        list-style: none;
        text-align: center;
        margin: 0 auto;
        color: #3d4249; }
        .card .card__side .card__details ul li {
          padding: 1.5rem 0; }
          .card .card__side .card__details ul li:not(:last-child) {
            border-bottom: 1px solid ghostwhite; }
    .card .card__side .card__heading {
      font-size: 2.8rem;
      text-transform: uppercase;
      font-weight: 300;
      color: #fff;
      position: absolute;
      top: 2rem;
      right: 0.2rem;
      width: 75%; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__flex {
    height: 100%;
    display: flex;
    align-items: center; }
  .card__box {
    margin: 0 auto;
    text-align: center; }
  .card__price--only {
    font-size: 1.5rem; }
  .card__price--value {
    font-size: 4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(213, 213, 213, 0.4)), url("https://images.unsplash.com/photo-1652961989677-a236d38f63f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .logo-div {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 5rem;
    color: #fff; }
  .header .header-description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center; }
    .header .header-description .header-primary {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      text-transform: uppercase;
      color: #eee;
      line-height: 3rem; }
      .header .header-description .header-primary .header-primary-main {
        font-size: 3.5rem;
        animation: moveInRight 1.5s ease-out; }
      .header .header-description .header-primary .header-primary-sub {
        font-size: small;
        letter-spacing: 1.17rem;
        animation: moveInLeft 1.5s ease-out; }

.section-about,
.section-third {
  margin-top: -26vh;
  padding: 25rem 0; }
  .section-about .heading-secondary,
  .section-third .heading-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5rem;
    background: linear-gradient(to right, #3d4249, #606873);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 0.2s; }
    .section-about .heading-secondary:hover,
    .section-third .heading-secondary:hover {
      transform: skewY(2deg) scale(1.5); }
  .section-about .heading-thertiary,
  .section-third .heading-thertiary {
    text-transform: uppercase;
    font-size: 2.5rem; }
  .section-about .lorem,
  .section-third .lorem {
    font-size: 1.6rem; }

.section-features {
  padding: 15rem 1rem;
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(213, 213, 213, 0.4)), url("https://images.unsplash.com/photo-1652961989677-a236d38f63f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -4rem;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }

.section-third {
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }
