html {
  font-size: 0.625rem; }

body {
  font-family: "Roboto", sans-serif;
  padding: 3rem; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-text-align-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 10rem; }

.u-margin-top-big {
  margin-top: 10rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-5px); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-10px); }

.btn-white {
  background-color: #fff; }
  .btn-white::after {
    background-color: #fff; }

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBtn 1.3s ease-in 0.7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  transition: all 0.2s;
  text-decoration: none;
  color: #42a5f5; }

.btn-text:hover {
  background-color: black;
  transform: translateY(-5px); }

.btn-text:active {
  color: white;
  transform: translateY(3px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    position: absolute;
    z-index: 5;
    transition: all 0.2s; }
    .composition__photo--p1 {
      top: 4rem;
      left: 0; }
    .composition__photo--p2 {
      top: 0;
      right: 10rem; }
    .composition__photo--p3 {
      top: 25rem;
      left: 8rem; }
    .composition__photo:hover {
      z-index: 7;
      outline: 2rem solid #606873;
      outline-offset: 1rem;
      transform: scale(1.05); }

.section-features .feature-box {
  background-color: rgba(238, 238, 238, 0.8);
  text-align: center;
  padding: 4rem 2rem;
  transition: all 0.2s;
  border-radius: 2rem; }
  .section-features .feature-box__icon {
    font-size: 5rem;
    background: linear-gradient(to right, #eee, #606873);
    -webkit-background-clip: text;
    color: transparent; }
  .section-features .feature-box:hover {
    transform: scale(1.2); }
  .section-features .feature-box__text {
    font-size: 1rem; }
  .section-features .feature-box .heading-thertiary {
    font-size: 2.5rem;
    overflow: hidden; }

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card .card__side {
    height: 52rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease; }
    .card .card__side--front {
      background-color: rgba(49, 44, 44, 0.15); }
    .card .card__side--back {
      transform: rotateY(180deg); }
      .card .card__side--back-1 {
        background-color: rgba(66, 165, 245, 0.15); }
      .card .card__side--back-2 {
        background-color: rgba(66, 165, 245, 0.15); }
      .card .card__side--back-3 {
        background-color: rgba(66, 165, 245, 0.15); }
    .card .card__side .card__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card .card__side .card__picture-1 {
        background-image: url("https://images.unsplash.com/photo-1658507165834-a19bc7576cf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"); }
      .card .card__side .card__picture-2 {
        background-image: url("https://images.unsplash.com/photo-1658507165834-a19bc7576cf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"); }
      .card .card__side .card__picture-3 {
        background-image: url("https://images.unsplash.com/photo-1658507165834-a19bc7576cf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"); }
    .card .card__side .card__details {
      font-size: 2.4rem; }
      .card .card__side .card__details ul {
        list-style: none;
        text-align: center;
        margin: 0 auto;
        color: #3d4249; }
        .card .card__side .card__details ul li {
          padding: 1.5rem 0; }
          .card .card__side .card__details ul li:not(:last-child) {
            border-bottom: 1px solid ghostwhite; }
    .card .card__side .card__heading {
      font-size: 2.8rem;
      text-transform: uppercase;
      font-weight: 300;
      color: #fff;
      position: absolute;
      top: 2rem;
      right: 0.2rem;
      width: 75%; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__flex {
    height: 100%;
    display: flex;
    align-items: center; }
  .card__box {
    margin: 0 auto;
    text-align: center; }
  .card__price--only {
    font-size: 1.5rem; }
  .card__price--value {
    font-size: 4rem; }

.image {
  width: 100%;
  height: 20rem;
  background-color: white;
  transform: skewX(-4deg);
  padding: 3rem 0;
  text-align: start;
  box-shadow: 0 4rem 3rem rgba(0, 0, 0, 0.3); }
  .image > * {
    transform: skewX(4deg); }
  .image__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    overflow: hidden; }
  .image__image {
    width: 100%;
    transition: all 0.2s; }
  .image__figcap {
    position: absolute;
    top: 60%;
    left: 20%;
    font-size: 2rem;
    color: white;
    transition: all 0.2s;
    opacity: 0; }
  .image__textContent {
    font-size: 1.6rem;
    font-weight: 400; }
  .image:hover .image__figcap {
    opacity: 1;
    top: 40%;
    left: 20%; }
  .image:hover .image__image {
    transform: scale(1.4);
    filter: blur(3px); }

.login {
  display: flex;
  align-items: center;
  height: 40rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(https://images.unsplash.com/photo-1659359269147-389d4109817c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80); }
  .login .form {
    margin: 0 auto;
    width: 60%; }
  .login__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid transparent;
    border: none;
    transition: all 0.2s;
    color: inherit; }
    .login__input:focus {
      outline: none;
      border-bottom: 3px solid green; }
      .login__input:focus:invalid {
        border-bottom: 3px solid red; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(213, 213, 213, 0.4)), url("https://images.unsplash.com/photo-1652961989677-a236d38f63f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .logo-div {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 5rem;
    color: #fff; }
  .header .header-description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center; }
    .header .header-description .header-primary {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      text-transform: uppercase;
      color: #eee;
      line-height: 3rem; }
      .header .header-description .header-primary .header-primary-main {
        font-size: 3.5rem;
        animation: moveInRight 1.5s ease-out; }
      .header .header-description .header-primary .header-primary-sub {
        font-size: small;
        letter-spacing: 1.17rem;
        animation: moveInLeft 1.5s ease-out; }

.navigation__checkbox {
  display: none; }

.navigation__label {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 3000; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#3d4249, #42a5f5);
  z-index: 1000; }

.navigation__nav {
  display: none;
  background-color: #3d4249;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 2200; }

.navigation__ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__li {
  list-style: none; }

.navigation__a:link, .navigation__a:visited {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  transition: all 0.2s;
  background-size: 220%; }

.navigation__a:hover, .navigation__a:active {
  background-position: 100%;
  color: #42a5f5; }

body {
  background-color: #f7f7f7; }
  body .section-about,
  body .section-third {
    margin-top: -26vh;
    padding: 25rem 0; }
    body .section-about .heading-secondary,
    body .section-third .heading-secondary {
      display: inline-block;
      text-transform: uppercase;
      font-size: 3.5rem;
      background: linear-gradient(to right, #3d4249, #606873);
      color: transparent;
      -webkit-background-clip: text;
      transition: all 0.2s; }
      body .section-about .heading-secondary:hover,
      body .section-third .heading-secondary:hover {
        transform: skewY(2deg) scale(1.5); }
    body .section-about .heading-thertiary,
    body .section-third .heading-thertiary {
      text-transform: uppercase;
      font-size: 2.5rem; }
    body .section-about .lorem,
    body .section-third .lorem {
      font-size: 1.6rem; }
  body .section-features {
    padding: 15rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.1), rgba(213, 213, 213, 0.4)), url("https://images.unsplash.com/photo-1652961989677-a236d38f63f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -4rem;
    transform: skewY(-5deg); }
    body .section-features > * {
      transform: skewY(5deg); }
  body .section-third {
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
    z-index: -40; }
  body .section-video {
    margin-top: 20rem;
    position: relative;
    padding: 15rem 0; }
    body .section-video .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.15; }
    body .section-video .heading-secondary {
      display: inline-block;
      text-transform: uppercase;
      font-size: 3.5rem;
      background: linear-gradient(to right, #3d4249, #606873);
      color: transparent;
      -webkit-background-clip: text;
      transition: all 0.2s; }
      body .section-video .heading-secondary:hover {
        transform: skewY(2deg) scale(1.5); }
  body .section-login .heading-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5rem;
    background: linear-gradient(to right, #3d4249, #606873);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 0.2s; }
    body .section-login .heading-secondary:hover {
      transform: skewY(2deg) scale(1.5); }
