.row {
  max-width: $grid-width;
  margin: 0 auto;
  @include clearFix;
  .col-1-2 {
    float: left;
    width: calc((100% - #{$gutter-horizontal}) / 2);
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
