.navigation {
  &__checkbox {
    display: none;
  }
  &__label {
    background-color: lightgray;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 4000;
  }
  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-secondary, $color-thertiary);
    z-index: 1000;
    transition: all 0.8s cubic-bezier(0.4, -0.76, 0.69, 1.75);
  }
  &__nav {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 3000;
    transition: all 0.8s;
  }
  &__ul {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  &__li {
    list-style: none;
  }
  &__a {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 50%, white 50%);
      transition: all 0.2s;
      background-size: 220%;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-thertiary;
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    margin-top: 3.5rem;
    margin-left: 2rem;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      display: inline-block;
      background-color: black;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }

  &__checkbox:checked + &__label &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__label &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  &__checkbox:checked + &__label &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
