.btn:link,
.btn:visited {
  text-transform: uppercase;
  border: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

.btn:active {
  transform: translateY(-10px);
}

.btn-white {
  background-color: #fff;
  &::after {
    background-color: #fff;
  }
}

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s;
}

.btn-animated {
  animation: moveInBtn 1.3s ease-in 0.7s;
  animation-fill-mode: backwards;
}
