.image {
  width: 100%;
  height: 20rem;
  background-color: white;
  transform: skewX(-4deg);
  padding: 3rem 0;
  text-align: start;

  box-shadow: 0 4rem 3rem rgba($color: black, $alpha: 0.3);
  & > * {
    transform: skewX(4deg);
  }
  &__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    transition: all 0.2s;
  }
  &__figcap {
    position: absolute;
    top: 60%;
    left: 20%;
    font-size: 2rem;
    color: white;
    transition: all 0.2s;
    opacity: 0;
  }
  &__textContent {
    font-size: 1.6rem;
    font-weight: $font-bold-regular;
  }

  &:hover &__figcap {
    opacity: 1;
    top: 40%;
    left: 20%;
  }
  &:hover &__image {
    transform: scale(1.4);
    filter: blur(3px);
  }
}
